.pokemon_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokemon_card_hover {
    width: 25rem;
    height: 7.3rem;
    background-image: linear-gradient(163deg, #de5249 0%, #006492 100%);
    border-radius: 0.5rem;
    transition: all 0.5s ease;
}

.pokemon_card {
    width: 25rem;
    height: 7.3rem;
    background-color: #fff;
    display: flex;
    border-radius: 0.5rem;
    box-shadow: rgb(0 0 0 / 100%) 0px 10px 30px -19px, rgb(0 0 0 / 80%) 0px 10px 10px -15px;
    cursor: pointer;
    padding: 0.1rem;
    transition: all 0.3s ease;
    border: transparent;

}

.pokemon_card:hover {
    transform: scale(0.98);
    border-radius: 0.5rem;
}

.pokemon_card_hover:hover {
    box-shadow: rgb(0 0 0 / 100%) 0px 10px 30px -19px, rgb(0 0 0 / 80%) 0px 10px 10px -15px;
    transform: scale(1.1);
}

.pokemon_image_container {
   
}

.pokemon_image {
    width: 115px;
    opacity: 1;

}