.pokemon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;    
    
}
.pokemon_card_hover {
    width: 25rem;
    height: 7.3rem;
    background-image: linear-gradient(163deg, #de5249 0%, #1b98e0 100%);
    border-radius: 0.5rem;
    transition: all 0.5s ease;
}

.pokemon_card {
    width: 25rem;
    height: 7.3rem;
    background-color: #fff;
    display: flex;
    border-radius: 0.5rem;
    box-shadow: rgb(0 0 0 / 100%) 0px 10px 30px -19px, rgb(0 0 0 / 80%) 0px 10px 10px -15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: transparent;
    position: relative;

}
.pokemon_card_data {
    
    display: flex;
    flex-direction: column;
    padding: 0.4rem;
}

.pokemon_card:hover {
    transform: scale(0.98);
    border-radius: 0.5rem;

}

.pokemon_card_hover:hover {
    box-shadow: rgb(0 0 0 / 100%) 0px 10px 30px -19px, rgb(0 0 0 / 80%) 0px 10px 10px -15px;
    transform: scale(1.1);
}

.pokemon_image_container {
    border-radius: 0.5rem;
    width: auto;
    height: auto;
    margin-right: 1rem;

}

.pokemon_image {
    width: 115px;
    
}

.pokemon_name_container {
    display: flex;
    align-items: baseline;
    margin-bottom: 2rem;

}

.pokemon_name_container h3 {
    margin-left: 0.5rem;
    color: #222;
    text-transform: capitalize;
}

.pokemon_name_container span {
    color: #222;
    font-weight: bold;
}

.pokemon_number {
    width: 3rem;
    height: 2rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 88%;
    bottom: 72.5%;
    border-radius: 0 0.5rem 0 0.5rem;
    text-shadow: 0 1px 1px rgb(255 255 255 / 70%);
    font-weight: 600;
    
}

.type_container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

}

.type {
    padding: 0.3rem 0.7rem;
    line-height: 1.3;
    display: inline-block;
    color: #222;
    border-radius: 0.3rem;
    text-shadow: 0 1px 1px rgb(255 255 255 / 70%);
    font-weight: 600;

}

.type span {
    text-align: center;
}

.btn_favorite_container {
    margin-top: 4.2rem;
    margin-left: 22rem;
    position: absolute;
}

.btn_favorite {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
    border-radius: 0.5rem;

}

.svg_btn {
    font-size: 1.2rem;
    color: #222;
}

.svg_btn:hover {
    color: #de5249;

}

/* COLOR TYPE */
.grass{
    background-image:linear-gradient(160deg, #00FA9A 40%, #ffffff 110%);
}

.water {
    background-image:linear-gradient(160deg, #87CEFA 40%, #ffffff 110%);
}

.fire {
    background-image:linear-gradient(160deg, #f08040 40%, #ffffff 110%);
}

.bug {
    background-image:linear-gradient(160deg, #8FBC8B 40%, #ffffff 110%);
}

.normal {
    background-image:linear-gradient(160deg, #D3D3B1 40%, #ffffff 110%);
}

.flying {
    background-image:linear-gradient(160deg, #DCDCDC 40%, #ffffff 110%);
}

.poison {
    background-image:linear-gradient(160deg, #9370DB 40%, #ffffff 120%);
}

.electric {
    background-image:linear-gradient(160deg, #FFD709 40%, #ffffff 110%);
}

.ground {
    background-image:linear-gradient(160deg, #D2B48C 40%, #ffffff 120%);
}

.fighting {
    background-image:linear-gradient(160deg, #c02035 40%, #ffffff 100%);
}

.psychic {
    background-image:linear-gradient(160deg, #f85868 40%, #ffffff 110%);
}

.rock {
    background-image:linear-gradient(160deg, #bc8a5f 40%, #ffffff 110%);
}

.ghost {
    background-image:linear-gradient(160deg, #705898 40%, #ffffff 120%);
}

.dragon {
    background-image:linear-gradient(160deg, #5390d9 40%, #ffffff 110%);
}

.fairy {
    background-image:linear-gradient(160deg, #ff97b7 40%, #ffffff 110%);
}

.steel {
    background-image:linear-gradient(160deg, #b8b8d0 40%, #ffffff 110%);
}

.dark {
    background-image:linear-gradient(160deg, #2F4F4F 40%, #ffffff 130%);
}

.ice {
    background-image:linear-gradient(160deg, #98d8d8 40%, #ffffff 120%);
}
