.pokemon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;    
    
}
.pokemon_card_hover {
    width: 25rem;
    height: 7.3rem;
    background-image: linear-gradient(163deg, #de5249 0%, #1b98e0 100%);
    border-radius: 0.5rem;
    transition: all 0.5s ease;
}

.pokemon_card {
    width: 25rem;
    height: 7.3rem;
    background-color: #fff;
    display: flex;
    border-radius: 0.5rem;
    box-shadow: rgb(0 0 0 / 100%) 0px 10px 30px -19px, rgb(0 0 0 / 80%) 0px 10px 10px -15px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: transparent;
    position: relative;
    

}
.pokemon_card_data {
    
    display: flex;
    flex-direction: column;
    padding: 0.4rem;
}

.pokemon_card:hover {
    transform: scale(0.98);
    border-radius: 0.5rem;
}

.pokemon_card_hover:hover {
    box-shadow: rgb(0 0 0 / 100%) 0px 10px 30px -19px, rgb(0 0 0 / 80%) 0px 10px 10px -15px;
    transform: scale(1.1);
}

.pokemon_image_container {
    border-radius: 0.5rem;
    width: auto;
    height: auto;
    margin-right: 1rem;

}

.pokemon_image {
    width: 115px;

}

.pokemon_name_container {
    display: flex;
    align-items: baseline;
    margin-bottom: 2rem;

}

.pokemon_name_container h3 {
    margin-left: 0.5rem;
    color: #222;
    text-transform: capitalize;
}

.pokemon_name_container span {
    color: #222;
    font-weight: bold;
}

.pokemon_number {
    width: 3rem;
    height: 2rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 88%;
    bottom: 72.5%;
    border-radius: 0 0.5rem 0 0.5rem;
    
}

.type_container {
    border: none;
    display: flex;
    border-radius: 0.5rem;
    padding: 0 1rem;

}

.type {
    padding: 0.4rem 1rem;
    line-height: 1.2;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

}

.type span {
    text-align: center;
    font-weight: 600;
}

.btn_favorite_container {
    margin-top: 4.2rem;
    margin-left: 22rem;
    position: absolute;
}

.btn_favorite {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
    border-radius: 0.5rem;

}

.svg_btn {
    font-size: 1.2rem;
    color: #222;
}

.svg_btn:hover {
    color: #de5249;

}

/* COLOR TYPE */
.grass{
    background-color: #00FA9A;
}

.water {
    background-color: #87CEFA;
}

.fire {
    background-color: #f08040;
}

.bug {
    background-color: #8FBC8B;
}

.normal {
    background-color: #D3D3B1;
}

.poison {
    background-color: #9370DB;
}

.electric {
    background-color: #FFD709;
}

.ground {
    background-color: #D2B48C;
}

.fighting {
    background-color: #c02035;
}

.psychic {
    background-color: #f85868;
}

.rock {
    background-color: #bc8a5f;
}

.ghost {
    background-color: #705898;
}

.dragon {
    background-color: #5390d9;
}

.fairy {
    background-color: #ff97b7;
}

.steel {
    background-color: #b8b8d0;
}

.dark {
    background-color: #2F4F4F;
}

.ice {
    background-color: #98d8d8;
}