.home_container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.home_cards {
    display: grid;
    grid-template-columns: repeat(4, 14rem);
    gap: 2rem;
    margin-top: 10%;
}