.region_container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.region_cards {
    display: grid;
    grid-template-columns: repeat(4, 14rem);
    gap: 2rem;
    margin-top: 5rem;

}

.region_name {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #666;
    background-color: #fff;
    position: fixed;

}

.region_name h1 {
    font-weight: 600;
    padding: 0 2rem;
    color: #666;
    
}