nav {
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 1em;
    box-shadow: rgb(0, 0, 0, 0.4) 0px 20px 30px inset;
    position: fixed;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    z-index: 3;
    
}

.menu {
    padding: 0.7rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.menu a {
    color: #fff;
    font-weight: 500;
    transition: all 0.5s ease;
    
}

.menu_item svg {
    color: #fff;
}

.menu a:hover {
    color: #666;
}

.menu_item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.navbar_logo {
    width: 120px;
    
}