nav {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 1em;
    box-shadow: rgb(0, 0, 0, 0.4) 0px 20px 30px inset; 
}

.menu {
    padding: 0.7rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.menu a {
    color: #fff;
    font-weight: 500;
    
}

.menu_item svg {
    color: #fff;
}

.menu a:hover {
    color: #666;
}

.menu_item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.navbar_logo {
    width: 120px;
    
}