.app_container {
    width: auto;
    height: auto;
    flex-wrap: wrap;
    padding-top: 5rem;
    
}

.notFound {
    width: 40%;
    padding: 1em;
    border: 1px solid #222;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2em;
    border-radius: 0.5rem;
    color: #721C24;
    background-color: #F8D7DA;
    border-color: #F5C6CB;
    position: relative;
}